In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as stats
from random import *
%matplotlib inline

In [4]:
%run -i 'data_pipeline.py'

In [5]:
ratings_df

,movie,critic_score,audience_score,release_date,audience_tomatometer,critic_tomatometer,score_difference
0,The Invisible Man,91,88,"Feb 28, 2020",Fresh,Fresh,-3
1,The Way Back,83,84,"Mar 6, 2020",Fresh,Fresh,1
2,Never Rarely Sometimes Always,99,72,"Mar 13, 2020",Fresh,Fresh,-27
3,Bad Boys for Life,77,96,"Jan 17, 2020",Fresh,Fresh,19
4,Sonic the Hedgehog,64,93,"Feb 14, 2020",Fresh,Fresh,29
...,...,...,...,...,...,...,...
3020,The End Of The Tour,92,82,"Jul 31, 2015",Fresh,Fresh,-10
3021,Best Of Enemies,93,85,"Jul 31, 2015",Fresh,Fresh,-8
3022,Digging For Fire,66,41,"Aug 21, 2015",Rotten,Fresh,-25
3023,The Final Girls,72,70,"Oct 9, 2015",Fresh,Fresh,-2
3024,The Gift,92,75,"Aug 7, 2015",Fresh,Fresh,-17

# Hypothesis Test ( Are means the Same)

##### Null Hypothesis: The mean of the critic scores equals the mean of the audience scores.

##### Alternative Hypothesis: The mean of the critic scores does not equals the mean of the audience scores.

##### Significance Level= 0.05

In [24]:
ratings_df['critic_score'].aggregate('average'),ratings_df['audience_score'].aggregate('average')

(63.30909090909091, 58.99107438016529)